body {
    font-family: 'Volkhov', serif;
    background-color: azure;
}

p {
    line-height: 2;
}

.responsive {
    width: 100%;
    height: auto;
  }

.bg-light {
    background:azure !important;
}

.indent { margin-left: 45px; };
.indent1 { margin-left: 10px; };

.navbar-brand {
    padding-top: 0%;
    font-size: 1.4rem;
}

.navbar-brand:hover {
    border-bottom: 2.5px solid rgb(32, 13, 201);

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: 0%;
}

.navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: 2.5px solid rgb(32, 13, 201);
}

#myCarouselSlide {
    width: 100%;
    height: 556px;
}

.carousel-inner {
    height: 100%;
    min-height: 100vh;
}

.carousel-item {
    background-position: 100%;
    background-size: cover;
    height: 100vh;
}

.carousel-caption h5 {
    font-size: 2rem;
    font-weight: bold;
}

.carousel-item.active, .carousel-item-prev, .carousel-item-next {
    transition: transform 4s ease, opacity 1s ease-out;
}

.genericButton{
     background:#B43A10
}
